.app {
  text-align: center;
  background-color: #cab49a;
}

.peeps {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.peep-body {
  margin-bottom: 2%;
}

.title {
  font-size: 3.5em;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-style: italic;
  text-decoration: underline;
}