.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #b8d2c4;
}

input {
  border-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  padding: 0.2%;
  margin: 0.5%;
  border-radius: 0.4em;
}

button {
  background-color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  border: none;
  cursor: pointer;
  margin: 0.5em;
  padding: 0.5em;
  letter-spacing: 1px;
  border-radius: 0.4em;
}

.peeps {
  min-height: 80vh;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: auto;
}

.peep-details {
  width: max-content;
  color: rgb(95, 95, 95);
  padding: 1%;
  font-size: 75%;
  margin: auto;
}

.peeps-list {
  padding: 0;
  border-style: solid;
  border-color: whitesmoke;
  background-color: #a1cab5;
  border-radius: 10px;
  border-spacing: 6em 0.2em;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.peep-body {
  width: auto;
  margin-bottom: 2%;
  color: black;
  font-size: 23px;
}

.peep-text-input {
  padding: 0.5em;
  border-style: none;
  width: 500px;
  height: 150px;
  border-radius: 0.4em;
  margin: auto;
}

.title {
  font-size: 3.5em;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-style: italic;
  text-decoration: underline;
}

.images {
  fill: lavender;
  padding: 0.5em;
  cursor: pointer;
}

.images:hover {
  fill: rgb(102, 175, 175) !important;
}
